services:
  web:
    image: nginx:latest
    ports:
      - "8080:80"   # Only this container is accessible from browser
    volumes:
      - ./html:/usr/share/nginx/html
    depends_on:
      - db

  web_scaled:
    image: nginx:latest
    volumes:
      - ./html:/usr/share/nginx/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:

